.container {
  position: relative;
}

.textcontainer {
  position: absolute;
  color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  height: 100%;
  width: 100%;
  font-weight: bold;
  font-size: 0.8rem;
}

.text {
  padding: 0.5rem;
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
}

.textcontainer:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.404);
}
