.root {
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.container {
  padding-bottom: 2rem;
  display: flex;
  width: fit-content;
  max-width: 1280px;
  flex-wrap: wrap;
}

.container > div {
  margin-right: 3em;

}

.container ul {
  list-style-position: outside;
  list-style-type: none;
  /* padding-left: 10px; */
  padding-left: 0;
}

.container li {
  --padding-top-bot: 6px;
  padding-top: var(--padding-top-bot);
  padding-bottom: var(--padding-top-bot);
}

.container h4 {
  margin-bottom: 0;
  margin-top: 18px;
}
