:root {
  --navbar-height: 64px;
  background-color: rgb(236, 236, 236);
}

h1, h2, h3, h4 {
  font-family: var(--merriweather-font);
}

body {
  font-family: var(--krub-font);
}

.hoverable:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.hoverable {
  padding: 0.5em;
  border-radius: 0.5em;
  text-decoration: none;
}

.flex-pad {
  flex: auto;
}

.cont-lg {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.cont-md {
  max-width: 630px;
  margin-left: auto;
  margin-right: auto;
}

.max-width-large {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
}

.padder {
  flex: auto;
}

.vflex {
  display: flex;
  flex-direction: column;
}

.hflex {
  display: flex;
  flex-direction: row;
}

body {
  margin: 0;
}

.full-width {
  width: 100%;
}
