:root {
  --navbar-height: 64px;
  --container-padding: 0.5rem;
}

h1,
h2,
h3,
h4 {
  font-family: var(--krub-font);
  font-weight: 400;
}

body {
  font-family: var(--merriweather-font);
  font-weight: 400;
  color: rgb(51, 51, 51);
}

.hoverable:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.hoverable {
  padding: 0.5em;
  border-radius: 0.5em;
  text-decoration: none;
}

.flex-pad {
  flex: auto;
}

.cont-xlg {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}

.cont-lg {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}

.cont-md {
  max-width: 630px;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}

.padder {
  flex: auto;
}

.vflex {
  display: flex;
  flex-direction: column;
}

.hflex {
  display: flex;
  flex-direction: row;
}

body {
  margin: 0;
}

.full-width {
  width: 100%;
}

a {
  text-decoration-line: none;
}

span.italics {
  font-style: italic;
}

.centred {
  text-align: center;
}