.navbar {
  height: var(--navbar-height);
  background-color: white;
}

.fixed {
  position: fixed;
  z-index: 2;
}

.navroot {
  height: var(--navbar-height);
  top: 0;
}

.logo {
  height: 56px;
}

.burger {
  cursor: pointer;
}

.navlinkcontainer {
  background-color: white;
  display: flex;
  flex-direction: row;
}

.navlinkoverflow {
  flex-direction: column;
  padding-bottom: 0.5em;
  background-color: white;
}

.burger,
.navlinkoverflow {
  display: none;
  width: 100%;
}

@media only screen and (max-width: 480px) {
  .burger,
  .navlinkoverflow {
    display: block;
  }

  .navlinkcontainer {
    display: none;
  }
}
