.navLink {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  text-align: center;
}

.button {
  color: black;
  font-weight: bold;
}

@media only screen and (max-width: 480px) {
  .navLink {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
}
