
.root {
    padding: 0.6rem;
    text-align: justify;
}

.container {
    padding: 1rem;
    background-color: var(--light-gray);
}

.sociallinks {
    display: flex;
    flex-direction: row;
}

.sociallinks > div {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

/*their name*/
.root h2 {
    font-weight: bold;

}