.container {
  --padding: 2rem;
  display: flex;
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  min-height: 50vh;
  position: relative;
}

.textcontainer {
  width: 50%;
  text-align: right;
  margin-left: var(--padding);
  padding-top: var(--padding);
}

.imgcontainer {
  position: relative;
  flex: auto;
  width: 50%;
  height: 50vh;
  margin: var(--padding);
}

.image {
  object-fit: cover;
}

@media only screen and (max-width: 480px) {
  .container {
    flex-direction: column-reverse;
  }

  .textcontainer {
    text-align: center;
    width: auto;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
  }

  .imgcontainer {
    width: calc(100vw - 2 * var(--padding));
    height: 30vh;
    margin-bottom: calc(var(--padding)/2);
  }
}
